body{
font-family:Arial;
margin:0;
background:#F8FAFC;
}

.navbar{
display:flex;
justify-content:space-between;
align-items:center;
padding:20px 80px;
background:#0F172A;
color:white;
}

.navbar ul{
display:flex;
gap:30px;
list-style:none;
margin:0;
padding:0;
}

.navbar a{
color:white;
text-decoration:none;
font-size:16px;
}
.hero{
text-align:center;
padding:100px 20px;
background:#F8FAFC;
}

.hero h1{
font-size:48px;
margin-bottom:20px;
}

.hero p{
font-size:18px;
color:#555;
}

.hero button{
margin-top:20px;
padding:12px 28px;
background:#2563EB;
color:white;
border:none;
border-radius:6px;
cursor:pointer;
}
.blog-container{
display:flex;
justify-content:center;
gap:30px;
flex-wrap:wrap;
margin-top:40px;
}

.blog-card{
background:white;
padding:20px;
border-radius:10px;
box-shadow:0 4px 12px rgba(0,0,0,0.1);
width:300px;
transition:0.3s;
}

.blog-card:hover{
transform:translateY(-5px);
}

.container{
max-width:1200px;
margin:auto;
}

footer{
text-align:center;
padding:30px;
background:#0F172A;
color:white;
margin-top:80px;
}

.login-container{
width:350px;
margin:120px auto;
background:white;
padding:30px;
border-radius:10px;
box-shadow:0 4px 12px rgba(0,0,0,0.1);
text-align:center;
}

.login-container input{
width:100%;
padding:10px;
margin:10px 0;
}

.login-container button{
background:#2563EB;
color:white;
border:none;
padding:10px;
width:100%;
border-radius:5px;
}