<html>
<head>
<title>All Blogs</title>
<link rel="stylesheet" href="../static/css/style.css">
</head>

<body>

<nav class="navbar">
<h2>BlogSpace</h2>
</nav>

<section class="blogs container">

<h2>All Blogs</h2>

<div class="blog-container">

<div class="blog-card">
<h3>Blog Title</h3>
<p>Short description of the blog post.</p>
<p>Author: Aravind</p>
<a href="blog-detail.html">Read More</a>
</div>

<div class="blog-card">
<h3>Blog Title</h3>
<p>Short description of the blog post.</p>
<p>Author: Aravind</p>
<a href="blog-detail.html">Read More</a>
</div>

</div>

</section>

</body>
</html>