<html>
<head>

<title>BlogSpace</title>

<link rel="stylesheet" href="../static/css/style.css">

</head>

<body>

<nav class="navbar">

<h2>BlogSpace</h2>

<ul>

<li><a href="index.html">Home</a></li>
<li><a href="blogs.html">Blogs</a></li>
<li><a href="create-blog.html">Create Blog</a></li>
<li><a href="profile.html">Profile</a></li>
<li><a href="login.html">Login</a></li>

</ul>

</nav>


<section class="hero container">

<h1>Share Your Thoughts With The World</h1>

<p>Create blogs, interact with readers, and build your audience easily.</p>

<button>Start Blogging</button>

</section>


<<section class="blogs container">

<h2>Featured Blogs</h2>

<div class="blog-container">

<div class="blog-card">
<h3>Blog Title</h3>
<p>This is a short description of the blog post.</p>
<p>Author: Aravind</p>
</div>

<div class="blog-card">
<h3>Blog Title</h3>
<p>This is a short description of the blog post.</p>
<p>Author: Aravind</p>
</div>

<div class="blog-card">
<h3>Blog Title</h3>
<p>This is a short description of the blog post.</p>
<p>Author: Aravind</p>
</div>

</div>

</section>


<footer>

<p>© 2026 BlogSpace</p>

</footer>

</body>

</html>